@import url("http://fonts.googleapis.com/css?family=Freckle+Face");
body {
  margin: 0; }

#gameContainer {
  background: url("images/background.jpg") no-repeat;
  background-color: black;
  background-size: contain;
  background-position: center;
  height: 100%;
  text-transform: uppercase;
  font-family: 'Freckle Face', cursive;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center; }
  #gameContainer #intro {
    position: absolute;
    top: 0;
    transition: top 1s linear .3s; }
    #gameContainer #intro.animate {
      top: 1500px; }
    #gameContainer #intro .animate {
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both; }
    #gameContainer #intro h2 {
      display: inline-block;
      margin-right: 10px;
      font-size: 50px; }
      #gameContainer #intro h2.bounceInRight {
        -webkit-animation-delay: 1s; }
    #gameContainer #intro h1 {
      color: deeppink;
      font-size: 100px; }
      #gameContainer #intro h1.bounceInUp {
        -webkit-animation-delay: 2s; }
  #gameContainer #frame {
    opacity: 0;
    transition: opacity 1s ease;
    position: relative; }
    #gameContainer #frame.animate {
      opacity: 1; }
    #gameContainer #frame #sideBoard {
      position: absolute;
      right: 20px; }
      #gameContainer #frame #sideBoard #counters {
        text-align: left;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        font-size: 25px;
        color: springgreen; }
        #gameContainer #frame #sideBoard #counters h3 {
          margin-top: 0; }
        #gameContainer #frame #sideBoard #counters .value {
          margin-left: 10px; }
        #gameContainer #frame #sideBoard #counters .roll3, #gameContainer #frame #sideBoard #counters .roll4 {
          opacity: 0;
          height: 0;
          transition: height .5s ease; }
        #gameContainer #frame #sideBoard #counters #roll {
          opacity: 1;
          transition: opacity 1s ease; }
          #gameContainer #frame #sideBoard #counters #roll.animate {
            opacity: 0; }
        #gameContainer #frame #sideBoard #counters.spare .roll3 {
          height: 19px;
          opacity: 1; }
        #gameContainer #frame #sideBoard #counters.strike .roll3, #gameContainer #frame #sideBoard #counters.strike .roll4 {
          height: 19px;
          opacity: 1; }
      #gameContainer #frame #sideBoard button {
        border: none;
        padding: 10px 20px;
        text-transform: uppercase;
        font: inherit;
        background-color: aquamarine;
        border-radius: 3px;
        font-size: 25px;
        cursor: pointer; }
        #gameContainer #frame #sideBoard button:active, #gameContainer #frame #sideBoard button:hover {
          background-color: #19ffb2; }
        #gameContainer #frame #sideBoard button:focus {
          outline: none; }
  #gameContainer #ball {
    background: url("images/ball.png") no-repeat;
    height: 130px;
    width: 130px;
    background-size: contain;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    bottom: 3%; }
    #gameContainer #ball.animate {
      -webkit-animation: roll 1s; }

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0); }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0); }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0); }

  90% {
    -webkit-transform: translate3d(5px, 0, 0); }

  100% {
    -webkit-transform: none; } }

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0); }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0); }

  75% {
    -webkit-transform: translate3d(10px, 0, 0); }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0); }

  100% {
    -webkit-transform: none; } }

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0); }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25px, 0); }

  75% {
    -webkit-transform: translate3d(0, 10px, 0); }

  90% {
    -webkit-transform: translate3d(0, -5px, 0); }

  100% {
    -webkit-transform: none; } }

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(1080deg);
    bottom: 65%;
    height: 20px;
    width: 20px; } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft; }

.bounceInRight {
  -webkit-animation-name: bounceInRight; }

.bounceInUp {
  -webkit-animation-name: bounceInUp; }
